/**
 ********************************
 * _ALIGN.SCSS
 ********************************
 */

/**
 * @settings $gemini-align
 * @description Settings for the align helper
 *
 * @prop {boolean} [responsive=false] Whether you want to use responsive helpers
 */
$gemini-align: () !default;

$gemini-align: extend((
  responsive: false,
), $gemini-align);

/**
 * @module Text Alignment
 * @description Easily align text
 *
 * @modifier [.align-left] Align left
 * @modifier [.align-center] Align center
 * @modifier [.align-right] Align right
 * @modifier [.align-bottom] Vertical-align bottom
 * @modifier [.align-medium-{direction}] Apply on medium screens (set responsive to true)
 * @modifier [.align-large-{direction}] Apply on large screens (set responsive to true)
 */
.align-left     { text-align: left       !important; }
.align-center   { text-align: center     !important; }
.align-right    { text-align: right      !important; }
.align-bottom   { vertical-align: bottom !important; }

/**
 * Responsive helper declerations
 */
@if (get(responsive, $gemini-align)) {
  // Medium screens
  @include media(medium) {

    .align-medium-left     { text-align: left       !important; }
    .align-medium-center   { text-align: center     !important; }
    .align-medium-right    { text-align: right      !important; }
    .align-medium-bottom   { vertical-align: bottom !important; }

  }

  // Large screens
  @include media(large) {

    .align-large-left     { text-align: left       !important; }
    .align-large-center   { text-align: center     !important; }
    .align-large-right    { text-align: right      !important; }
    .align-large-bottom   { vertical-align: bottom !important; }

  }
}
