/**
 ********************************
 * _HIDDEN.SCSS
 ********************************
 */

/**
 * @module Visibility Utilities
 * @description Helper classes to quickly show and hide elements based on screen size
 *
 * @modifier [.visible-js] Only show if javascript is enabled
 * @modifier [.hidden-js] Hide if javascript is enaabled
 * @modifier [.visible-medium] Show on medium, hide on small and large
 * @modifier [.visible-large] Show on large, hide on small and medium
 * @modifier [.hidden-small] Hide on small, show on medium and large
 * @modifier [.hidden-medium] Hide on medium, show on small and large
 * @modifier [.hidden-large] Hide on large, show on small and medium
 * @modifier [.visible-print] Show on print, hide on rest
 * @modifier [.hidden-large] Hide on print, show on rest
 *
 * @markup
    <ul class="block-list">
      <li class="visible-small">.visible-small</li>
      <li class="hidden-small">.hidden-small</li>
      <li class="visible-medium">.visible-medium</li>
      <li class="hidden-medium">.hidden-medium</li>
      <li class="visible-large">.visible-large</li>
      <li class="hidden-large">.hidden-large</li>
    </ul>
 */

%hide-small,
.hidden {
  position: absolute !important;
  left: -999% !important;
  top: -999% !important;
}

//For Javascript
.no-js .visible--js {
  @extend %hide-small;
}
.yes-js .hidden--js {
  @extend %hide-small;
}

// For small screens
.visible-small     { }
.hidden-small      { @extend %hide-small; }
.visible-medium    { @extend %hide-small; }
.hidden-medium     { }
.visible-large     { @extend %hide-small; }
.hidden-large      { }

// For medium screens
@include media(medium, true) {
  %hide-medium {
    position: absolute !important;
    left: -999% !important;
    top: -999% !important;
  }
  %visible-medium {
    position: static !important;
    left: auto !important;
    top: auto !important;
  }

  .visible-small  { @extend %hide-medium; }
  .hidden-small   { @extend %visible-medium }
  .visible-medium { @extend %visible-medium }
  .hidden-medium  { @extend %hide-medium; }
}

// For large screens
@include media(large, true) {
  %hide-large {
    position: absolute !important;
    left: -999% !important;
    top: -999% !important;
  }
  %visible-large {
    position: static !important;
    left: auto !important;
    top: auto !important;
  }

  .visible-medium { @extend %hide-large; }
  .hidden-medium  { @extend %visible-large; }
  .visible-large  { @extend %visible-large; }
  .hidden-large   { @extend %hide-large; }
}

// Print utilities
.visible-print    { @extend %hide-small; }
.hidden-print     { }

@media print {
  %hide-print {
    position: absolute !important;
    left: -999% !important;
    top: -999% !important;
  }
  %visible-print {
    position: static !important;
    left: auto !important;
    top: auto !important;
  }

  .visible-print  { @extend %visible-print; }
  .hidden-print   { @extend %hide-print; }
}
