/**
 ********************************
 * _LINE-HEIGHT.SCSS
 ********************************
 */

.line-height--half   { line-height: 0.5 !important; }
.line-height--double { line-height: 2   !important; }
.line-height--triple { line-height: 3   !important; }
