/**
 ********************************
 * _MARGIN.SCSS
 ********************************
 */

/**
 * @module Block Pusher [.push]
 * @description Add base spacing as a margin around a block
 *
 * @modifier [.push--top] Add margin to top
 * @modifier [.push--right] Add margin to right
 * @modifier [.push--bottom] Add margin to bottom
 * @modifier [.push--left] Add margin to left
 * @modifier [.push--ends] Add margin to top and bottom
 * @modifier [.push--sides] Add margin to left and right
 * @modifier [.push-half] Add half margin
 * @modifier [.push-half--top] Add half margin to top
 * @modifier [.push-half--right] Add half margin to right
 * @modifier [.push-half--bottom] Add half margin to bottom
 * @modifier [.push-half--left] Add half margin to left
 * @modifier [.push-half--ends] Add half margin to top and bottom
 * @modifier [.push-half--sides] Add half margin to left and right
 */
.push                { margin:        get(spacing) !important; }
.push--top           { margin-top:    get(spacing) !important; }
.push--right         { margin-right:  get(spacing) !important; }
.push--bottom        { margin-bottom: get(spacing) !important; }
.push--left          { margin-left:   get(spacing) !important; }
.push--ends          { margin-top:    get(spacing) !important; margin-bottom: get(spacing) !important; }
.push--sides         { margin-right:  get(spacing) !important; margin-left:   get(spacing) !important; }

.push-half           { margin:        get(spacing) / 2 !important; }
.push-half--top      { margin-top:    get(spacing) / 2 !important; }
.push-half--right    { margin-right:  get(spacing) / 2 !important; }
.push-half--bottom   { margin-bottom: get(spacing) / 2 !important; }
.push-half--left     { margin-left:   get(spacing) / 2 !important; }
.push-half--ends     { margin-top:    get(spacing) / 2 !important; margin-bottom: get(spacing) / 2 !important; }
.push-half--sides    { margin-right:  get(spacing) / 2 !important; margin-left:   get(spacing) / 2 !important; }

.push-double--bottom { margin-bottom: get(spacing) * 2 !important; }
.push-double--top    { margin-top:    get(spacing) * 2 !important; }

/**
 * @module Block Flusher [.flush]
 * @description Remove the margin around a block
 *
 * @modifier [.flush--top] Remove margin from top
 * @modifier [.flush--right] Remove margin from right
 * @modifier [.flush--bottom] Remove margin from bottom
 * @modifier [.flush--left] Remove margin from left
 * @modifier [.flush--ends] Remove margin from top and bottom
 * @modifier [.flush--sides] Remove margin from left and right
 */
.flush         { margin:        0 !important; }
.flush--top    { margin-top:    0 !important; }
.flush--right  { margin-right:  0 !important; }
.flush--bottom { margin-bottom: 0 !important; }
.flush--left   { margin-left:   0 !important; }
.flush--ends   { margin-top:    0 !important; margin-bottom: 0 !important; }
.flush--sides  { margin-right:  0 !important; margin-left:   0 !important; }


/**
 * @module Bleed inner block [.flush]
 * @description Apply negative margins to bleed a child to the edge of the parent
 *
 * @modifier [.bleed] Negative margins on the sides
 * @modifier [.bleed-half] Half negative margins on the sides
 */
.bleed      { margin-right: -get(spacing) !important; margin-left:  -get(spacing) !important;}
.bleed-half { margin-right: -get(spacing) / 2 !important; margin-left:  -get(spacing) / 2 !important;}
