/**
 ********************************
 * _MUTE.SCSS
 ********************************
 */

/**
 * @module Muted [.muted]
 * @description Mute an object by reducing its opacity.
 *
 * @markup
 *   <img class="muted" src="http://www.placecage.com/c/200/200">
 *   <img class="muted-75" src="http://www.placecage.com/c/200/200">
 */
.muted {
  opacity: 0.5 !important;
  filter: alpha(opacity = 50) !important;
}
  .muted-75 {
    opacity: 0.75 !important;
    filter: alpha(opacity = 75) !important;
  }
