/**
 ********************************
 * _PADDING.SCSS
 ********************************
 */

/**
 * @module Block Softener [.soft]
 * @description Add base spacing as padding around a block
 *
 * @modifier [.soft--top] Add padding to top
 * @modifier [.soft--right] Add padding to right
 * @modifier [.soft--bottom] Add padding to bottom
 * @modifier [.soft--left] Add padding to left
 * @modifier [.soft--ends] Add padding to top and bottom
 * @modifier [.soft--sides] Add padding to left and right
 * @modifier [.soft-half] Add half padding
 * @modifier [.soft-half--top] Add half padding to top
 * @modifier [.soft-half--right] Add half padding to right
 * @modifier [.soft-half--bottom] Add half padding to bottom
 * @modifier [.soft-half--left] Add half padding to left
 * @modifier [.soft-half--ends] Add half padding to top and bottom
 * @modifier [.soft-half--sides] Add half padding to left and right
 */
.soft               { padding:        get(spacing) !important; }
.soft--top          { padding-top:    get(spacing) !important; }
.soft--right        { padding-right:  get(spacing) !important; }
.soft--bottom       { padding-bottom: get(spacing) !important; }
.soft--left         { padding-left:   get(spacing) !important; }
.soft--ends         { padding-top:    get(spacing) !important; padding-bottom: get(spacing) !important; }
.soft--sides        { padding-right:  get(spacing) !important; padding-left:  get(spacing) !important; }

.soft-half          { padding:        get(spacing) / 2 !important; }
.soft-half--top     { padding-top:    get(spacing) / 2 !important; }
.soft-half--right   { padding-right:  get(spacing) / 2 !important; }
.soft-half--bottom  { padding-bottom: get(spacing) / 2 !important; }
.soft-half--left    { padding-left:   get(spacing) / 2 !important; }
.soft-half--ends    { padding-top:    get(spacing) / 2 !important; padding-bottom: get(spacing) / 2 !important; }
.soft-half--sides   { padding-right:  get(spacing) / 2 !important; padding-left:   get(spacing) / 2 !important; }

.soft-double        { padding:        get(spacing) * 2 !important;}
.soft-double--ends  { padding:        get(spacing) * 2 0 !important;}
.soft-double--right { padding-right:  get(spacing) * 2 !important;}

/**
 * @module Block Hardener [.hard]
 * @description Remove the padding around a block
 *
 * @modifier [.hard--top] Remove padding from top
 * @modifier [.hard--right] Remove padding from right
 * @modifier [.hard--bottom] Remove padding from bottom
 * @modifier [.hard--left] Remove padding from left
 * @modifier [.hard--ends] Remove padding from top and bottom
 * @modifier [.hard--sides] Remove padding from left and right
 */
.hard         { padding:        0 !important; }
.hard--top    { padding-top:    0 !important; }
.hard--right  { padding-right:  0 !important; }
.hard--bottom { padding-bottom: 0 !important; }
.hard--left   { padding-left:   0 !important; }
.hard--ends   { padding-top:    0 !important; padding-bottom: 0 !important; }
.hard--sides  { padding-right:  0 !important; padding-left:   0 !important; }
