/**
 ********************************
 * _TRUNCATE.SCSS
 ********************************
 */

/**
 * @mixin truncate
 * @description Add a ... to the end of an element's text
 *
 * @param {string} [$important=''] Option to append values with !important
 *
 * @example
    .foo{
      @include truncate(!important);
    }
 */
@mixin truncate($important: '') {
  white-space: nowrap#{$important};
  overflow: hidden#{$important};
  text-overflow: ellipsis#{$important};
}

/**
 * @module Truncate Ellipsis [.truncate]
 * @description Truncate a fixed width string with an ellipsis
 *
 * @markup
    <p style="width:250px;" class="truncate">This is a test for truncating.</p>
 */
.truncate {
  @include truncate(!important);
}
