/**
 ********************************
 * _COLOR.SCSS
 ********************************
 */

/*
 * This will be in Compass Stable soon
 * https://github.com/chriseppstein/compass/issues/1296
 */

// Computes the "brightness" of a color
//
// Brightness is similiar to lightness in HSL but more closely approximates
// how humans perceive the intensity of the different RGB components of
// a color. Brightness is sometimes called luminance.
//
// Returns a number between 0% and 100%, where 100% is fully bright
// (white) and 0% is fully dark (black).
@function brightness($color) {
  @return ((red($color) * 0.299) + (green($color) * 0.587) + (blue($color) * 0.114)) / 255 * 100%;
}

@function contrast-color(
    $color,
    $dark: #333,
    $light: #FFF
  ) {
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);
    $dark-text-brightness: brightness($dark);
    $light-text-brightness: brightness($light);

    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

// Lighten works weird. https://groups.google.com/d/msg/compass-users/umJGUEn6jpQ/MKeUs97DIj0J
// https://github.com/nex3/sass/issues/598
@function lighter($color, $percent) {
  @return scale-color($color, $lightness: $percent);
}

@function darker($color, $percent) {
  @return scale-color($color, $lightness: -$percent);
}
