/**
 ********************************
 * _DEFAULTS.SCSS
 ********************************
 */

/**
 * You can override all of these settings
 */

/********************************
 * BASE DEFAULTS
 ********************************/

/**
 * @settings $gemini-base
 * @description The base settings for gemini. You can get these values using
 * get(property);
 *
 * @prop {measurement} [border-radius=4px] Default round corners
 * @prop {color} [brand-color=#090] Base brand color
 * @prop {color} [link-color=#4374AE] Default link colors
 * @prop {color} [color=#333] Default text color
 * @prop {color} [background-color=#FFF] Website background color
 * @prop {color} [border-color=#D6D6D6] Website border color
 * @prop {measurement} [font-size=14px] Default font-size
 * @prop {measurement} [line-height=24px] Default line-height
 * @prop {measurement} [spacing=24px] Default spacing used throughout the site
 * @prop {string} [brand-font-family=unquote("'Helvetica', Arial, sans-serif")] Default brand font face
 * @prop {string} [font-family=unquote("'Helvetica', Arial, sans-serif")] Default font face
 * @prop {string} [font-directory="fonts"] The location of fonts in relation to outputed CSS
 * @prop {string} [img-directory="../img"] The location of images in relation to outputed CSS
 */
$gemini-base-defaults: (
  /**
   * Default Round Corners
   */ border-radius: 4px,

  /**
   * Base Coloring
   */ brand-color: #090,
  link-color: #4374ae,
  color: #333,
  background-color: #fff,
  border-color: #d6d6d6,

  /**
   * Font Sizing
   */ font-size: 14px,
  line-height: 24px,

  /**
   * Spacing
   */ spacing: 24px,

  /**
   * Type
   */ brand-font-family: unquote("'Helvetica', Arial, sans-serif"),
  font-family: unquote("'Helvetica', Arial, sans-serif"),
  /**
   * Directories
   */ font-directory: 'fonts',
  image-directory: '../img'
);

/********************************
 * SCREEN DEFAULTS
 ********************************/

/**
 * @settings $gemini-screens
 * @description The default breakpoints used throughout the site. These are
 * automatically converted to em's when used by media queries.
 *
 * @prop {measurement} [medium=481px] When medium breakpoint starts
 * @prop {measurement} [large=1024px] When large breakpoint starts
 * @prop {measurement} [xlarge=1200px] When xlarge breakpoint starts
 */
$gemini-screens-defaults: (
  medium: 481px,
  large: 1024px,
  xlarge: 1200px,
);

/********************************
 * OBJECT USE DEFAULTS
 ********************************/

/**
 * @settings $gemini-use
 * @description Settings for whether to use a certain object or not. By default
 * all object are set to false. As you need them, set them to true.
 *
 * @markup
    $gemini-use: (
      block-list: true,
      grid: true
    );
 */
$gemini-use-defaults: (
  block-list: false,
  bullet-list: false,
  buttons: false,
  colors: false,
  copy: false,
  fit: false,
  flyout: false,
  grid: false,
  iframes: true,
  icons: false,
  link-complex: false,
  media: false,
  multi-list: false,
  nav: false,
  overlay: false,
  pagination: false,
  rules: false,
  split: false,
  stats: false,
  tags: false,
);

/********************************
 * DEFAULT OVERWRITES
 ********************************/

$gemini-base: () !default;
$gemini-base: map-merge($gemini-base-defaults, $gemini-base);

$gemini-screens: () !default;
$gemini-screens: map-merge($gemini-screens-defaults, $gemini-screens);

$gemini-use: () !default;
$gemini-use: map-merge($gemini-use-defaults, $gemini-use);
