/**
 ********************************
 * _ALERTS.SCSS
 ********************************
 */

@mixin alert-colour($colour) {
  color: $colour;
  border: 1px solid lighter($colour, 60%);
  background: lighter($colour, 80%);
}

@if $use-alerts == true {

  /**
   * @module Alert Boxes [.alert]
   * @description Create text alerts to visually stand out to the user.

    @markup

    <div class="alert alert--red">
      Please correct the following:

      <ul>
        <li>Please enter your email address</li>
        <li>Please enter your password</li>
      </ul>
    </div>
   */

  .alert {
    @extend .round;
    display: block;
    padding: $half-spacing-unit $base-spacing-unit;
    @include alert-colour($grey);
    margin-bottom: $base-spacing-unit;
    text-shadow: none;

    p:last-child,
    ul {
      margin-bottom: 0;
    }
  }
  $alert--red: #B94A48!default;
  $alert--green: #468847!default;
  $alert--blue: #3A87AD!default;
  $alert--yellow: #C09853!default;

  .alert--red {
    @include alert-colour($alert--red);
  }

  .alert--green {
    @include alert-colour($alert--green);
  }

  .alert--blue {
    @include alert-colour($alert--blue);
  }

  .alert--yellow {
    @include alert-colour($alert--yellow);
  }
}//endif
