/**
 ********************************
 * _ARROWS.SCSS
 ********************************
 */

/**
 * It is a common design treatment to give an element a triangular points-out
 * arrow, we typically build these with CSS.
 */

$gemini-arrows: () !default;

$gemini-arrows: extend((
  size: get(spacing) * 0.4,
  border: 2,
), $gemini-arrows);

@if get($gemini-use, arrows) {

  /**
   * @module Arrows
   * @description Arrows are built as a SASS extension at the moment. For now, check out the source code to understand how they work.
   * These styles have a mixin dependency.
   */

 /**
  * Forms the basis for any/all CSS arrows.
  */
  %arrow {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      border-collapse: separate;
    }
    &:before {
      border: get($gemini-arrows, size) solid transparent;
    }
    &:after {
      border: get($gemini-arrows, size) - get($gemini-arrows, border) solid transparent;
    }
  }


 /**
  * Define individual edges so we can combine what we need, when we need.
  */
  %arrow--top {
    @extend %arrow;

    &:before,
    &:after {
      bottom: 100%;
    }
  }

  %arrow--upper {
    @extend %arrow;

    &:before {
      top: get($gemini-arrows, size) - get($gemini-arrows, border);
    }
    &:after {
      top: get($gemini-arrows, size);
    }
  }

  %arrow--middle {
    @extend %arrow;

    &:before,
    &:after {
      top: 50%;
      margin-top: -get($gemini-arrows, size);
    }
    &:after {
      margin-top: -get($gemini-arrows, size) - get($gemini-arrows, border);
    }
  }

  %arrow--lower {
    @extend %arrow;

    &:before {
      bottom: get($gemini-arrows, size) - get($gemini-arrows, border);
    }
    &:after {
      bottom: get($gemini-arrows, size);
    }
  }

  %arrow--bottom {
    @extend %arrow;

    &:before,
    &:after {
      top: 100%;
    }
  }

  %arrow--near {
    @extend %arrow;

    &:before,
    &:after {
      right: 100%;
    }
  }

  %arrow--left {
    @extend %arrow;

    &:before {
      left: get($gemini-arrows, size) - get($gemini-arrows, border);
    }
    &:after {
      left: get($gemini-arrows, size);
    }
  }

  %arrow--center {
    @extend %arrow;

    &:before,
    &:after {
      left: 50%;
      margin-left: -get($gemini-arrows, size);
    }
    &:after {
      margin-left: -get($gemini-arrows, size) - get($gemini-arrows, border);
    }
  }

  %arrow--right {
    @extend %arrow;

    &:before {
      right: get($gemini-arrows, size) - get($gemini-arrows, border) + 10px;
    }
    &:after {
      right: get($gemini-arrows, size) + 10px;
    }
  }

  %arrow--far {
    @extend %arrow;

    &:before,
    &:after {
      left: 100%;
    }
  }
}//endif
