/**
 ********************************
 * _BLOCK-LIST.SCSS
 ********************************
 */

@if get(block-list, $gemini-use) {

  /**
   * @module Block List [.block-list]
   * @description Create big blocky lists of content.
   *
   * @markup
      <ul class="block-list block-list--sides">
        <li>Foo</li>
        <li>Bar</li>
        <li>Baz</li>
        <li><a href="#"" class="block-list__link">Foo Bar Baz</a></li>
      </ul>
   */

  .block-list {
    list-style: none;
    margin-left: 0;

    > li {
      padding: get(spacing) / 2 0;
    }
  }
  .block-list--sides {
    > li {
      padding-left: get(spacing);
      padding-right: get(spacing);
    }
  }

  .block-list__link {
    display: block;
    padding: get(spacing) / 2 0;
    margin: - get(spacing) / 2 0;
  }
}//endif
