@if $use-bullet-list == true{

/*------------------------------------*\
    $BULLET LISTS
\*------------------------------------*/

/**
  * @module Bullet Lists [.bullet-list]
  * @description Allows you to replace default bullets with icons
  * Has a dependency of the icons module
  *
  * @markup

  */

/* 1 */ // This isn't heavily supported, but some screen readers may pass this icon.
        // The best practice is to not map the icon to a letter, but a symbol.
.bullet-list{
  margin:0;

  & > li{
    list-style:none;
    position:relative;
    padding-left: $base-spacing-unit;
    //@extend %icon;

    &:before{
      position:absolute;
      top:0;
      left:0;
      color:$grey;
      speak: none;/* 1 */
    }
  }
}


}//endif
