/**
 ********************************
 * _BUTTONS.SCSS
 ********************************
 */

/**
 * @settings $gemini-buttons
 * @description The settings for buttons
 *
 * @prop {color} [color=#333] The color of the text
 * @prop {color} [background-color=#EEE] The background color
 * @prop {measurement} [padding-ends=0.5em] The padding on the top and bottom
 * @prop {measurement} [padding-sides=1em] The padding on the ends
 * @prop {measurement} [border-width=1px] The border width
 * @prop {color} [border-color=get(border-color)] The border color
 * @prop {measurement} [border-radius=get(border-radius)] The border radius
 */
$gemini-buttons: () !default;

$gemini-buttons: extend((
  color: #333,
  background-color: #EEE,
  padding-ends: 0.5em,
  padding-sides: 1em,
  border-width: 1px,
  border-color: get(border-color),
  border-radius: get(border-radius)
), $gemini-buttons);

@if get(buttons, $gemini-use) {

  /**
   * @module Buttons [.button]
   * @description Different buttons.
   *
   * @modifier [.button--small] Small button
   * @modifier [.button--medium] Medium button
   * @modifier [.button--large] Large button
   * @modifier [.button--huge] Huge button
   * @modifier [.button--natural] Button with inherited size
   *
   * @markup Button Sizes
      <p>
        <a class="button">Button</a>
        <a class="button button--small">Small Button</a>
        <a class="button button--medium">Medium Button</a>
        <a class="button button--large">Large Button</a>
        <a class="button button--huge">Huge Button</a>
        <a class="button button--huge">Huge Button</a>
      </p>
   *
   * @markup Natural Button
      <p>This <a class="button button--natural">button</a> will fit in nicely with its context.</p>
   */

  .button {
    @include tag(
      get(color, $gemini-buttons),
      get(background-color, $gemini-buttons),
      get(padding-ends, $gemini-buttons),
      get(padding-sides, $gemini-buttons),
      get(border-width, $gemini-buttons),
      get(border-color, $gemini-buttons),
      get(border-radius, $gemini-buttons)
    );

    cursor: pointer;

    &,
    &:hover {
      text-decoration: none;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .button--natural {
    display: inline;
    vertical-align: baseline;
    font-size: inherit;
    line-height: inherit;
    padding-top: 0;
    padding-bottom: 0;
  }

  $gemini-button-sides-multiplier: if(get(padding-sides, $gemini-buttons) > 0, get(padding-sides, $gemini-buttons), get(spacing) / 2);
  $gemini-button-ends-multiplier:  if(get(padding-ends, $gemini-buttons) > 0, get(padding-ends, $gemini-buttons), get(spacing) / 4);

  .button--small {
    padding: $gemini-button-ends-multiplier * 0.5 $gemini-button-sides-multiplier * 0.5;
  }
  .button--medium {
    padding: $gemini-button-ends-multiplier * 1.25 $gemini-button-sides-multiplier * 1.25;
  }
  .button--large {
    padding: $gemini-button-ends-multiplier * 1.5 $gemini-button-sides-multiplier * 1.5;
  }
  .button--huge {
    padding: $gemini-button-ends-multiplier * 2.0 $gemini-button-sides-multiplier * 2.0;
  }

  /**
   * @module Button Group [.button-group]
   * @description Contains a group of buttons
   *
   * @modifier [.button-group--2] Full width container for 2 buttons
   * @modifier [.button-group--3] Full width container for 3 buttons
   *
   * @markup
      <div class="button-group">
        <a class="button">Foo</a>
        <a class="button">Bar</a>
      </div>
   */
  .button-group {
    display: inline-block;
    vertical-align: middle;
    @include clearfix;

    > .button {
      float: left;

      &:not(:first-child) {
        border-left: none;

        @if get(border-radius, $gemini-buttons) > 0 {
          @include border-left-radius(0);
        }

      }
      &:not(:last-child) {
        border-right: get(border-width, $gemini-buttons) solid get(border-color, $gemini-buttons);

        @if get(border-radius, $gemini-buttons) > 0 {
          @include border-right-radius(0);
        }
      }
    }
  }
    .button-group--2 {
      width: 100%;

      > .button {
        width: 50%;
        text-align: center;
      }
    }
    .button-group--3 {
      width: 100%;

      > .button {
        width: 33.3332%;
        text-align: center;
      }
    }

}//endif
