/**
 ********************************
 * _BUTTONS.SCSS
 ********************************
 */

$gemini-buttons: () !default;

$gemini-buttons: extend((
  color: #333,
  background-color: #eee,
  border-width: 1px,
  border-color: #333,
  border-radius: 4px,
  padding-ends: 0.5em,
  padding-sides: 1em
), $gemini-buttons);

@if get($gemini-use, buttons) {

  /**
   * @module Buttons [.button]
   * @description Different buttons
   *
   * @modifier [.button--small] Small button
   * @modifier [.button--large] Large button
   * @modifier [.button--huge] Huge button
   * @modifier [.button--full] Button is the entirety of the container
   * @modifier [.button--alpha] Button with 3x font
   * @modifier [.button--beta] Button with 2x font
   * @modifier [.button--gamma] Button with 1.5x font
   * @modifier [.button--natural] Button with inherited size
   *
   * @markup Button Sizes
   *   <p>
   *       <a class="button">Button</a>
   *       <a class="button button--small">Small Button</a>
   *       <a class="button button--large">Large Button</a>
   *       <a class="button button--huge">Huge Button</a>
   *   </p>
   *
   * @markup Natural Button
   *   <p>This <a class="button button--natural">button</a> will fit in nicely with its context.</p>
   */

  .button {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    border: none;
    margin: 0;
    cursor: pointer;
    padding: get($gemini-buttons, padding-ends) get($gemini-buttons, padding-sides);
    padding: calc(#{get($gemini-buttons, padding-ends)} - #{get($gemini-buttons, border-width)}) get($gemini-buttons, padding-sides);

    border: get($gemini-buttons, border-width) solid get($gemini-buttons, border-color);

    @if get($gemini-buttons, border-radius) > 0 {
      @include border-radius(get($gemini-buttons, border-radius));
    }

    color: get($gemini-buttons, color);
    background-color: get($gemini-buttons, background-color);

    &,
    &:hover {
      text-decoration: none;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .button--natural {
    vertical-align: baseline;
    font-size: inherit;
    line-height: inherit;
    line-height: calc(100% - #{get($gemini-buttons, border-width) * 2});
    padding-top: 0;
    padding-bottom: 0;
  }

  .button--small {
    padding: get($gemini-buttons, padding-ends) * 0.5 get($gemini-buttons, padding-sides) * 0.5;
  }
  .button--large {
    padding: get($gemini-buttons, padding-ends) * 1.5 get($gemini-buttons, padding-sides) * 1.5;
  }
  .button--huge {
    padding: get($gemini-buttons, padding-ends) * 2 get($gemini-buttons, padding-sides) * 2;
  }

  .button-group {
    display: inline-block;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > .button {
      float: left;

      &:not(:first-child) {
        border-left: none;

        @if get($gemini-buttons, border-radius) > 0 {
          @include border-left-radius(0);
        }

      }
      &:not(:last-child) {
        border-right: get($gemini-buttons, border-width) solid lighten(get($gemini-buttons, border-color), 50%);

        @if get($gemini-buttons, border-radius) > 0 {
          @include border-right-radius(0);
        }
      }
    }
  }
    .button-group--2 {
      width: 100%;

      > .button {
        width: 50%;
        text-align: center;
      }
    }
    .button-group--3 {
      width: 100%;

      > .button {
        width: 33.3332%;
        text-align: center;
      }
    }

}//endif
