@if $use-buttons == true {

/*------------------------------------*\
    $BUTTONS.SCSS
\*------------------------------------*/



/**
  * @module Buttons [.button]
  * @description Different buttons
  *
  * @modifier [.button--small] Small button
  * @modifier [.button--large] Large button
  * @modifier [.button--huge] Huge button
  * @modifier [.button--full] Button is the entirety of the container
  * @modifier [.button--alpha] Button with 3x font
  * @modifier [.button--beta] Button with 2x font
  * @modifier [.button--gamma] Button with 1.5x font
  * @modifier [.button--natural] Button with inherited size
  *
  * @markup Button Sizes
  *   <p>
  *       <a class="button">Button</a>
  *       <a class="button button--small">Small Button</a>
  *       <a class="button button--large">Large Button</a>
  *       <a class="button button--huge">Huge Button</a>
  *   </p>
  *   <a class="button button--full">Full Width Button</a>
  *
  * @markup Button Font Sizes
  *   <a class="button button--alpha">Alpha</a>
  *   <a class="button button--beta">Beta</a>
  *   <a class="button button--gamma">Gamma</a>
  *
  * @markup Natural Button
  *   <p>This <a class="button button--natural">button</a> will fit in nicely with its context.</p>
  */

/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base button styles.
 *
 * 1. Allow us to better style box model properties.
 * 2. Line up different sized buttons a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using beautons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Don’t allow buttons to have underlines; it kinda ruins the illusion.
 */
.beauton, %beautons{
    display:inline-block;       /* [1] */
    vertical-align:middle;      /* [2] */
    white-space:nowrap;         /* [3] */
    font-family:inherit;        /* [4] */
    font-size:100%;             /* [4] */
    border:none;                /* [6] */
    margin:0;                   /* [6] */
    padding-top:   0;           /* [6] */
    padding-bottom:0;           /* [6] */
    line-height:2;              /* [7] */
    padding-right:1em;          /* [7] */
    padding-left: 1em;          /* [7] */
}


.button{
    @extend %beautons;
    cursor:pointer;             /* [5] */

    //Background
    background-repeat:no-repeat;
    background-color:$lighter-grey;

    //Corners
    @include border-radius($brand-round);
}

.button{

    &,
    &:hover{
        text-decoration:none;   /* [8] */
    }

    &:active,
    &:focus{
        outline:none;
    }
}

  .button-group {
    display:inline-block;
    vertical-align:middle;
    @extend .clearfix;
    > .button{
        float:left;
        @include border-radius(0);

        &:first-child{
          @include border-left-radius($brand-round);
        }
        &:last-child{
          @include border-right-radius($brand-round);
        }
    }
  }
  .button-group--2{
    width:100%;
    > .button{
      width:50%;
      text-align:center;
    }
  }
  .button-group--3{
    width:100%;
    > .button{
      width:33.3332%;
      text-align:center;
    }
  }





/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */
.button--small{
    padding-right:0.5em;
    padding-left: 0.5em;
    line-height:1.5;
}

.button--large{
    padding-right:1.5em;
    padding-left: 1.5em;
    line-height:3;
}

.button--huge{
    padding-right:2em;
    padding-left: 2em;
    line-height:4;
}
.button--squeeze{
    padding-right:0.25em;
    padding-left: 0.25em;
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don’t conflict.
 */
.button--full{
    width:100%;
    padding-right:0;            /* [1] */
    padding-left: 0;            /* [1] */
    text-align:center;
}





/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Button font-size modifiers.
 */
.button--alpha{
    font-size:3em;
}

.button--beta{
    font-size:2em;
}

.button--gamma{
    font-size:1.5em;
}

.button--delta{
    font-size:1.25em;
}

/**
 * Make the button inherit sizing from its parent.
 */
.button--natural{
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:1em;
    padding-left:1em;
}

.button--inactive,
    .button--inactive:hover,
    .button--inactive:active,
    .button--inactive:focus{
        background-color:#ddd;
        color:#777;
        cursor:text;            /* [1] */
    }

/*------------------------------------*\
    $STYLES
\*------------------------------------*/
/**
 * Button style modifiers.
 *
 * 1. Use an overly-large number to ensure completely rounded, pill-like ends.
 */
.button--soft{
    border-radius:200px;        /* [1] */
}

.button--hard{
    border-radius:0;
}

}//endif
