@if $use-cards == true{

/*------------------------------------*\
    $CARDS
\*------------------------------------*/
/* Whenever there's a module with an image and content underneath, it looks similar to a
 * playing card. Clever :)
 */

 /**
   * @module Card [.card]
   * @description Whenever there's a module with an image and content underneath, it looks similar to a playing card.
   *
   * @modifier [.card--layered] Overlays the content ontop of the image
   *
   * @markup
  <div class="card" width="300px">
    <div class="card__img">
      <img src="http://www.placecage.com/300/200/" />
    </div>
    <div class="card__content">
      <div class="card__title">Title</div>
      <div class="card__details">Details</div>
      <i class="card__star"></i>
    </div>
  </div>
   *
   * @markup
  <div class="card card--layered" width="300px">
    <div class="card__img">
      <img src="http://www.placecage.com/300/200/" />
    </div>
    <div class="card__content">
      <div class="card__title">Title</div>
      <div class="card__details">Details</div>
    </div>
  </div>
   */

.card{
  display:block;
  position:relative;
  padding:$half-spacing-unit;
}

  /**
    * @submodule Card Image [.card__img]
    * @description Contains the image
    */

  .card__img{
    width:100%;
    margin-bottom:$half-spacing-unit;

    // This is in case the image is wrapped in a feature tag.
    // In that case you would apply card__img to the wrapper.
    > img{
      width:100%;
    }
  }

  /**
    * @submodule Card Title [.card__title]
    * @description The title of the card
    *
    * @modifier [.card__title--value] Adds value to the title through the 'data-value' element
    *
    * @markup
    <div class="card" width="300px">
      <div class="card__img">
        <img src="http://www.placecage.com/300/200/" />
      </div>
      <div class="card__content">
        <div class="card__title card__title--value" data-value="10">Title</div>
        <div class="card__details">Details</div>
      </div>
    </div>
    */
  .card__title{
    margin:0;
    position:relative;
  }
    //Requires the data attribute "value"
    .card__title--value{
      padding-right: $base-spacing-unit * 3;
    }
    .card__title--value:before{
      content:attr(data-value);
      display:inline-block;
      position:absolute;
      right:$half-spacing-unit * 1.3;
      background:$brand-color;
      color:$white;
      -webkit-font-smoothing: antialiased;
      padding:0.4em 0.75em;
      font-size:$h5-size;
      @include border-radius(9999px);
      top:0;
    }
  /**
    * @module Card Details [.card__details]
    * @description The details of the card
    */
  .card__details{
    margin:0;
    color:$grey;
  }
  /**
    * @module Card Star [.card__star]
    * @description Add if the card can be starred
    *
    * @modifier [.is-active] Activates the star
    */
  .card__star{
    position:absolute;
    bottom:0;
    right:$half-spacing-unit;
    cursor:pointer;
    //@extend %icon;
    //@extend .icon--star;

    &.is-active, &:hover{
      //@extend .icon--star-3;
    }
    &.is-active{
      color:$brand-color;
    }
  }

// Card with text ontop
.card--layered{
  @extend .card;
  padding:0;
  .card__img{
    margin:0;
  }
  .card__content{
    padding:($base-spacing-unit * 0.75) $base-spacing-unit;
    position:absolute;
    left:0;
    bottom:0;
    color:$light-grey;
    text-shadow:0 1px 2px $black;
    a{
      color:$white;
    }
  }
  .card__details{
    color:$white;
  }
}

.card--fancy{
  @extend %gpu;
  .card__img{
    position:relative;
    height:120px;
    overflow:hidden;
    background:$black;
    >img{
      position:absolute;
      left:0;bottom:0;
      width:100%;
      max-width:none;
      opacity:0.7;
      @include transition(width 0.25s ease, opacity 0.25s ease);
    }
  }
  .card__content{
    border-left:0px solid $brand-color;
    @include transition(background 0.25s ease, border 0.25s ease);
  }
  //Only complete animation on non touch devices
  .no-touch &:hover{
    .card__img > img{
      width:105%;
      opacity:1;
    }
    .card__content{
      background:rgba($black, 0.5);
      border-left:$half-spacing-unit solid $brand-color;
    }
  }
}


}//endif
