/**
 ********************************
 * _CHECKBOX.SCSS
 ********************************
 */

@if get(checkbox, $gemini-use) {

  /**
   * @module Custom Checkbox [.checkbox]
   * @description Checkboxes using font icons to create a custom look.
   * Got some buzz on Codepen: http://codepen.io/mattdrose/details/iswyE/
   *
   * @markup
      <label class="checkbox">
        <input type="checkbox" checked>
        <span class="checkbox__icon"></span>
        Dat checkbox
      </label>
   */
  .checkbox {
    cursor: pointer;
    @extend .unselectable;

    // Hide checkbox
    > input{
      position: absolute;
      opacity: 0;
      z-index: -1;
      position: static\9; /* IE6+ Fallback */
    }
  }

  /**
   * @submodule Checkbox Icon [.checkbox__icon]
   * @description Necessary markup for the custom icon. You can use your own
   * icon by extending the icon on this element. Look at the source markup
   * for an example of how it works.
   */
  .checkbox__icon {
    @include icon;
    width: 1em;
    display: inline-block;
    display: none\9; /* IE6+ Fallback */

    /* Default State */
    @extend .icon--default-plus;

    /* Active State */
    input:checked ~ & {
      @extend .icon--default-checkmark-heavy;
    }
  }

}//endif
