/**
 ********************************
 * _CHECKBOX.SCSS
 ********************************
 */

@if $use-checkbox == true {

  //Checkboxes
  .checkbox {
    cursor: pointer;
    @extend .unselectable;

    // Hide checkbox
    > input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  // Icon
  .checkbox__icon {
    /* Default State */
    @extend %icon;
    @extend .icon--default-plus;

    display: inline-block;
    width: 1em;

    /* Active State */
    input:checked ~ & {
      @extend .icon--default-checkmark-heavy;
    }
  }

}//endif
