@if $use-colors == true{

/*------------------------------------*\
    $COLORS
\*------------------------------------*/

/* SOCIAL COLORS */
.c--facebook{
  color: #3A5998;
}
.c--twitter{
  color: #1AB2E8;
}
.c--google{
  color: #4386F7;
}
.c--google-plus{
  color: #DD4C39;
}
.c--pinterest{
  color: #C9232D;
}

/* OTHER COLOURS */
.c--red{
  color: $red !important;
}
.c--green{
  color: $green !important;
}
.c--blue{
  color: $blue !important;
}
.c--yellow{
  color: $yellow !important;
}

/* SHADES */
.c--white{
  color: $white !important;
}


/* SHADES */
.c--light-grey{
  color: $light-grey !important;
}
.c--grey{
  color: $grey !important;
}
.c--dark-grey{
  color: $dark-grey !important;
}


}//endif
