/**
 ********************************
 * _COPY.SCSS
 ********************************
 */

@if get($gemini-use, copy) {

  /**
   * Styles to make copy more readable.
   * Ideal for content heavy sections like blog.
   */

  .copy {
    section,
    .section,
    header {
      margin-bottom: get(spacing) * 3;
    }

    p {
      font-size: get($gemini-headings, epsilon);
    }

    img {
      display: inline;
    }
  }
}//endif
