/**
 ********************************
 * _FLYOUT.SCSS
 ********************************
 */

@if get(flyout, $gemini-use) {

  /**
   * @module Flyouts [.flyout]
   * @description Flyouts are pieces of content that fly out of a parent when said parent is hovered. They typically appear bottom-left of the parent.
   *
   * @modifier [.flyout--side] Side flyouts sit out the side of the parent, flush top.
   */
  .flyout {
    position: relative;
    overflow: hidden;

    &:hover {
      overflow: visible;

      /**
       * Regular flyouts sit all the way from the top, flush left.
       */
      > .flyout__content {
        left: 0;
      }
    }
  }
  .flyout__content {
    /**
     * Position the flyouts off-screen. This is typically better than
     * 'display:none;'.
     */
    position: absolute;
    width: 100%;
    top: 100%;
    left: -99999px;
    z-index: 20;

    .flyout--right > & {
      left: auto;
      right: -99999px;
    }
  }

  .flyout__content--small {
    width: 150%;
  }
  .flyout__content--medium {
    width: 200%;
  }
  .flyout__content--large {
    width: 400%;
  }
  .flyout__content--x-large {
    width: 600%;
  }

  /**
   * Side flyouts sit all the way from the left, flush top.
   */
  .flyout--side:hover > .flyout__content {
    top: 0;
    left: 100%;
  }

  .flyout--right:hover > .flyout__content {
    right: 0;
    left: auto;
  }

  /**
   * @markup
    <div class="flyout">
        Foo
        <div class="flyout__content">
            <p>Lorem</p>
            <p>Ipsum</p>
        </div>
    </div>
   */

  /**
   * @markup
    <div class="flyout flyout--side">
        Foo
        <div class="flyout__content">
            <p>Lorem</p>
            <p>Ipsum</p>
        </div>
    </div>
   */
}//endif
