@if $use-form-select == true{

/*------------------------------------*\
    $FORM EXTENSIONS
\*------------------------------------*/

//Custom select dropdowns
.select{
  @extend %beautons;
  position:relative;
  padding:0;
  text-shadow:none;
  background:$white;
  color:$base-color;
  overflow:hidden;

  border:1px solid $light-grey;
  @include border-radius($brand-round);

  @extend %icon;
  @extend .icon--default-arrow-down;

  &:before{
    position:absolute;
    top:0;
    right:1em;
    pointer-events:none;
  }

  select{
    //https://coderwall.com/p/w7npmq
    position:relative;
    padding:0.3em 2.5em 0.3em 1em;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    @include vendor(appearance, none);

    .lt-ie9 &{
      width: 160%;
    }
    &:focus{
      outline:none;
    }
  }
}
  .select--tab{
    @include border-bottom-radius(0);
    border-bottom-color:$white;

    &.select{
      //@extend .icon--list-2;
    }
  }
  .w-select--tab{
    display:block;
    border-bottom:1px solid $light-grey;
    margin-bottom:$base-spacing-unit;
  }



}//endif
