@if $use-form-select == true{

/*------------------------------------*\
    $FORM EXTENSIONS
\*------------------------------------*/

//Make select boxes look better
select:focus{
    outline: none;
}

select{
  border: 1px solid $light-grey;
  @include border-radius($brand-round);
  vertical-align: middle;
}


//Custom select dropdowns
.select{
  @extend %beautons;
  position:relative;
  padding:0;
  @include border-radius($brand-round);
  text-shadow:none;
  background:$white;
  color:$base-color;
  border:1px solid $light-grey;
  overflow:hidden;
  @include transition(box-shadow 0.25s ease);

  &:hover{
    @include box-shadow(0 1px 4px rgba($black, 0.15));
  }

  @extend %icon;
  @extend .icon--arrow-down-2;

  &:before{
    position:absolute;
    top:0;
    right:1em;
    pointer-events:none;
  }

  select{
    //https://coderwall.com/p/w7npmq
    position:relative;
    padding:0.3em 2.5em 0.3em 1em;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    @include vendor(appearance, none);

    .lt-ie9 &{
      width: 160%;
    }
    &:focus{
      outline:none;
    }
  }
}
  .select--tab{
    @include border-bottom-radius(0);
    border-bottom-color:$white;

    &.select{
      @extend .icon--list-2;
    }
  }
  .w-select--tab{
    display:block;
    border-bottom:1px solid $light-grey;
    margin-bottom:$base-spacing-unit;
  }



}//endif
