/**
 ********************************
 * _ICONS.SCSS
 ********************************
 */

/**
 * @mixin icon
 * @description Adds icon styles to the :before of a module
 *
 * @example
    .foo {
      @include icon;
    }
 */

@mixin icon {
  &:before {
    font-family: "icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@if get(icons, $gemini-use) {

  /**
   * @module Icon [.icon--{name}]
   * @description Use one of the icon fonts used in your build
   *
   * @markup
      <i class="icon--star" />
   */
  .icon,
  [class*="icon--"] {
    @include icon;
    vertical-align: middle;
    display: inline-block;
  }

  /**
   * This little beauty right here sets up the foundation for using icon fonts.
   * Out of the box is uses UTF-8 entities, but was intended to work with icon
   * font which are built on a per project basis.
   *
   * Here's a list of UTF-8 entities that resemble icons:
   * http://codepen.io/mattdrose/pen/pGlJr
   *
   * You can see an example of these doo-hicky's here:
   * http://codepen.io/mattdrose/pen/gxLmo
   *
   * NOTE:
   * The UTF-8 entities have pretty good (IE8+) support except for on Android :(
   */
  .icon--default-star:before {
    content: "\2605";
  }
  .icon--default-star-empty:before {
    content: "\2606";
  }
  .icon--default-checkbox:before {
    content: "\2610";
  }
  .icon--default-checkbox-checked:before {
    content: "\2611";
  }
  .icon--default-checkbox-crossed:before {
    content: "\2612";
  }
  .icon--default-checkmark:before {
    content: "\2713";
  }
  .icon--default-checkmark-heavy:before {
    content: "\2714";
  }
  .icon--default-close:before {
    content: "\2715";
  }
  .icon--default-close-heavy:before {
    content: "\2716";
  }
  .icon--default-close-script:before {
    content: "\2717";
  }
  .icon--default-plus:before {
    content: "\271A";
  }
  .icon--default-arrow-up:before {
    content: "\25B2";
  }
  .icon--default-arrow-down:before {
    content: "\25BC";
  }
  .icon--default-arrow-left:before {
    content: "\25C0";
  }
  .icon--default-arrow-right:before {
    content: "\25BA";
  }

}//endif
