@if $use-order == true{

/*------------------------------------*\
    $ORDER MODULE
\*------------------------------------*/
/*
 * Change the order of elements on smaller screens
 */
/**
  * @module Order [.l-order--smal]
  * @description Change the order of the layout on smaller screens
  *
  * @modifier [l-order--small-$n] N is the order is should be on small screens
  *
  * @markup
  <div class="l-order--small">
    <div class="l-order--small-2">First</div>
    <div class="l-order--small-1">Second</div>
  </div>
  */


@include quick-media-query(visible-small){
  .l-order--small{
    // See https://github.com/KKBOX/FireApp/blob/master/lib/ruby/compass_1.0/compass-core-1.0.0.alpha.19/stylesheets/compass/css3/_flexbox.scss
    @include flexbox((
      display: box,
      box-orient: hoizontal,
      box-direction: column,
    ));
  }
  @for $i from 1 through 6 {
    .l-order--small-#{$i}{
      float:none!important;
      @include flexbox((
        box-ordinal-group: $i,
      ));
    }
  }
}


}//endif
