/**
 ********************************
 * _SELECT.SCSS
 ********************************
 */

/**
 * @settings $gemini-select
 * @description Setup settings for selects
 *
 * @prop {measurement} [padding=0.25em] The padding around the selects
 */
$gemini-select: () !default;

$gemini-select: extend((
  // Expecting em to be scalable
  padding: 0.25em,
), $gemini-select);


@if get(select, $gemini-use) {


  /**
   * @module Custom Select [.select]
   * @description Custom selects dropdown using native device UI onclick. These
   * selects use no javascript, are mobile friendly, and extend the icon font
   * for a custom look.
   * They got some buzz on Codepen: http://codepen.io/mattdrose/pen/snCEx
   *
   * @markup
      <div class="select">
        <select name="make">
          <option>Make</option>
          <option value="acura">Acura</option>
          <option value="chrysler" selected>Chrysler</option>
          <option value="dodge">Dodge</option>
          <option value="ford">Ford</option>
          <option value="toyota">Toyota</option>
          <option value="derp">A really long name for testing</option>
        </select>
      </div>
   */

  /**
   *  .select Wrapper
   *
   *  1. Allow for box model styles
   *  2. Needed to style the icon absolute, relative to the wrapper
   *  3. So the .select positions nicely inline with other elements
   *  4. Ensures padding is done by the child select
   *  5. Hides default select UI
   *  6. Extends icon styles
   *  7. Position icon centered on the right
   *  8. Allow select to be clicked through icon
   *
   *  select
   *
   *  9. Force select to appear clickable
   * 10. Add padding to select rather than the wrapper so that the click target it larger
   * 11. Leave space on the right for the icon
   * 12. The magic number to push the default select arrow outside of the wrappers overflow
   * 13. Hide the default styles of the select
   * 14. Push the button slighly to the right to hide the select arrow in Firefox
   *     http://stackoverflow.com/a/18327666
   * 15. Push the default select arrow a little further on IE8
   * 16. Hide the select outline
   */

  .select {
    display: inline-block; /* 1 */
    position: relative; /* 2 */
    vertical-align: middle; /* 3 */
    padding: 0; /* 4 */
    overflow: hidden; /* 5 */

    // A little styling
    background: #FFF;
    color: #555;
    border: 1px solid #AAA;
    text-shadow: none;
    @include border-radius(get(border-radius));

    @include icon; /* 6 */
    @extend .icon--default-arrow-down; /* 6 */

    &:before {
      position: absolute; /* 7 */
      top: get(padding, $gemini-select); /* 7 */
      right: get(padding, $gemini-select) + 0.25em; /* 7 */
      pointer-events: none; /* 8 */
    }

    select {
      cursor: pointer; /* 9 */
      padding: get(padding, $gemini-select); /* 10 */
      padding-left: get(padding, $gemini-select) + 0.25; /* 10 */
      padding-right: get(padding, $gemini-select) + 1.75em; /* 11 */
      width: 130%; /* 12 */
      border: none; /* 13 */
      background: transparent; /* 13 */
      background-image: none; /* 13 */
      -webkit-appearance: none; /* 13 */
         -moz-appearance: none; /* 13 */
              appearance: none; /* 13 */

      // Mozilla Hack
      text-indent: 0.01px; /* 14 */
      text-overflow: ""; /* 14 */

      // IE 6-8 Hack
      width: 160%\9; /* 15 */

      &:focus {
        outline: none; /* 16 */
      }
    }
  }
}//endif
