/**
 ********************************
 * _STATS.SCSS
 ********************************
 */

@if get(stats, $gemini-use) {

  /**
   * @module Stat Group [.stat-group]
   * @description Group of stat objects
   */
  .stat-group {
    @include clearfix;
    margin-left: - get(spacing);
  }

  %stat-group--n {
    margin-left: 0;
    .stat {
      margin-left: 0;
    }
  }

  .stat-group--3 {
    @extend %stat-group--n;
    .stat {
      width: 33.333%;
    }
  }

  .stat-group--4 {
    @extend %stat-group--n;
    .stat {
      width: 25%;
    }
  }

  /**
   * @module Stat [.stat]
   * @description Simple object to display key-value statistic-like information
   *
   * @markup
   *
    <dl class=stat>
      <dt class=stat__title>Followers</dt>
      <dd class=stat__value>12,105</dd>
    </dl>
   */
  .stat {
    float: left;
    margin-left: get(spacing);
  }

  /**
   * @submodule Stat Title [.stat__title]
   * @description Title of a stat
   */
  .stat__title {
    margin-left: 0;
  }

  /**
   * @submodule Stat Value [.stat__title]
   * @description Title of a stat
   */
  .stat__value {
    margin-left: 0;
  }

  /**
   * @markup
    <div class="stat-group">
      <dl class="stat">
        <dt class="stat__title">Tweets</dt>
        <dd class="stat__value">27,740</dd>
      </dl>

      <dl class="stat">
        <dt class="stat__title">Following</dt>
        <dd class="stat__value">11,529</dd>
      </dl>

      <dl class="stat">
        <dt class="stat__title">Followers</dt>
        <dd class="stat__value">12,105</dd>
      </dl>
    </div>
   */
}//endif
