/**
 ********************************
 * _TAGS.SCSS
 ********************************
 */

/**
 * @settings $gemini-tags
 * @description The settings to give tags a custom look
 *
 * @prop {color} [color=#333] The font color of the font
 * @prop {color} [background-color=#EEE] The background color
 * @prop {measurement} [padding-ends=0.5em] The padding on the top and bottom
 * @prop {measurement} [padding-sides=1em] The padding on the left and right
 * @prop {measurement} [border-width=0] The width of the border
 * @prop {color} [border-color=get(border-color)] The color of the border
 * @prop {measurement} [border-radius=0] The border of the radius
 */
$gemini-tags: () !default;

$gemini-tags: extend((
  color: #333,
  background-color: #EEE,
  padding-ends: 0.25em,
  padding-sides: 0.5em,
  border-width: 0,
  border-color: get(border-color),
  border-radius: 0
), $gemini-tags);

/**
 * Tags are a common CSS element that we see multiple elements extend,
 * including buttons, tabs, and various other tags
 */
@mixin tag(
  $color         : get(color, $gemini-tags),
  $background    : get(background-color, $gemini-tags),
  $ends          : get(padding-ends, $gemini-tags),
  $sides         : get(padding-sides, $gemini-tags),
  $border-width  : get(border-width, $gemini-tags),
  $border-color  : get(border-color, $gemini-tags),
  $border-radius : get(border-radius, $gemini-tags)
  ) {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  margin: 0;
  padding: $ends $sides;
  padding: calc(#{$ends} - #{$border-width}) $sides;

  color: $color;
  background: $background;

  border: $border-width solid $border-color;

  @if $border-radius > 0 {
    @include border-radius($border-radius);
  }
};

@if get(tags, $gemini-use) {

  /**
   * @module Tags [.tag]
   * @description Give text a background so it looks like a tag
   *
   * @modifier [.tag--small] Small tag
   * @modifier [.tag--large] Large tag
   * @modifier [.tag--huge] Huge tag
   * @modifier [.tag--natural] Tag with inherited size from its context
   *
   * @markup
   * <div class="tag">Tag</div>
   */

  .tag {
    @include tag();

    &, &:hover {
      text-decoration: none;
    }
  }

  .tag--natural {
    vertical-align: baseline;
    font-size: inherit;
    line-height: inherit;
    line-height: calc(100% - #{get(border-width, $gemini-tags) * 2});
    padding-top: 0;
    padding-bottom: 0;
  }

  .tag--small {
    padding: get(padding-ends, $gemini-tags) * 0.5 get(padding-sides, $gemini-tags) * 0.5;
  }
  .tag--large {
    padding: get(padding-ends, $gemini-tags) * 1.5 get(padding-sides, $gemini-tags) * 1.5;
  }
  .tag--huge {
    padding: get(padding-ends, $gemini-tags) * 2 get(padding-sides, $gemini-tags) * 2;
  }
}//endif
