@if $use-tags == true{

/*------------------------------------*\
    $TAGS
\*------------------------------------*/
/**
  * @module Tags [.tag]
  * @description Give text a background so it looks like a tag
  *
  * @modifier [.tag--organge] Orange Background
  *
  * @markup
  <div class="tag">Tag</div>
  <div class="tag--organge">Orange Tag</div>
  *
  * Extend this with your own sizes and colours. Eg.:
    .tag--zeta{
      font-size:$h6-size;
    }
    .tag--milli{
      font-size:$milli-size;
    }
    .tag--orange{
      background:$orange;
    }
  */

.tag{
  @extend %beautons;

  background:$brand-color;
  color:$white;
  text-shadow:none;

  &:hover{
    text-decoration: none;
  }

  .grey{
    color:mix($brand-color, $white);
  }
}


}//endif
