@if $use-ucda == true and $use-tags == true{
/**
  * Extends Tags
  * @description Give text a background so it looks like a UCDA tag
  *
  * @modifier [.tag--ucda] Yellow Background and blue text for ucda
  *
  * @markup
  <div class="tag--ucda">Ucda Tag</div>
  *
  */
.tag--ucda{
  color:mix(#00185B, $yellow, 60%);
  // background:$yellow url('#{$img-dir}/ucda/tag.png') no-repeat 10px center;
  background:$yellow url('http://www.carpages.ca/images/primary/ucda/tag.png') no-repeat 10px center;
  padding-left:70px;

  @include quick-media-query(retina){
    // background-image:url('#{$img-dir}/ucda/tag@2x.png');
    background-image:url('http://www.carpages.ca/images/primary/ucda/tag@2x.png');
    background-size:51px 16px;
  }
}


}//endif use-tags
