/**
 ********************************
 * TEST
 ********************************
 * Make sure the build is compiling without error
 */

$gemini-use: (
  arrows:         true,
  block-list:     true,
  bullet-list:    true,
  buttons:        true,
  checkbox:       true,
  colors:         true,
  copy:           true,
  fit:            true,
  flyout:         true,
  grid:           true,
  icons:          true,
  link-complex:   true,
  media:          true,
  multi-list:     true,
  nav:            true,
  overlay:        true,
  pagination:     true,
  rules:          true,
  select:         true,
  split:          true,
  stats:          true,
  tags:           true,
);

@import "../init";
