/**
 ********************************
 * _CLEARFIX.SCSS
 ********************************
 */

/**
 * @mixin clearfix
 * @description Make an element clear floating elements as per:
 * http://css-tricks.com/snippets/css/clear-fix/
 *
 * @example
    .foo {
      @include clearfix;
    }
 */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
