/**
 ********************************
 * _COLORS.SCSS
 ********************************
 */

/**
 * This helper makes it easy to add and access custom colors.
 *
 * How to add a color:
  @include addColor(carpages, #090);
 *
 * How to access a color:
  .foo {
    color: get($color, carpages)
  }
 */
$color: ();
@mixin addColor($name, $value, $helper: false) {
  // Add color to $color map
   $color: merge($color, ($name: $value)) !global;

  // Add helper to CSS
  @if $helper == true {
    .c--#{$name} {
      color: $value;
    }
  }
}
