/**
 ********************************
 * _FONT-SIZE.SCSS
 ********************************
 */

/**
 * @mixin font-size
 * @description Get a fully formed type falue
 *
 * @param {measurement} [$font-size] The font size
 * @param {boolean} [$line-height=false] Whether to include a calculated line-height based on the base line-height
 * @param {boolean} [$use-rem=false] Include rem value
 * @param {string} [$iportant=''] The option to add !important
 *
 * @example
    .foo {
      @include font-size(14px);
    }

    .bar {
      @include font-size(14px, true, false, !important);
    }
 */
@mixin font-size($font-size, $line-height:false, $use-rem:false, $important: '') {
  font-size: $font-size#{$important};
  @if $use-rem == true {
    font-size: rem($font-size)#{$important};
  }
  @if $line-height == true {
    line-height: ceil($font-size / get(line-height)) * (get(line-height) / $font-size)#{$important};
  }
}
