/*------------------------------------*\
    $FONT STACKS
\*------------------------------------*/

// Some sweet font stacks found at http://cssfontstack.com/

/* Use this script to scrape that page for fonts
var fonts;
$('.post.group').each(function(){
	var f = $(this).find('.hdr').html().toLowerCase().replace(/\s/g, '-'),
		s = $(this).find('.stack p').html().replace('font-family: ', ''),
		i = $(this).find('.info span').html().replace('<br>', '').trim().replace(/[\r\n]/g, ', ').replace(/\s+/g, " ").trim();
	fonts+= '\/\/Support: ' + i + '\n' + '$' + f + ': ' + s + '\n\n';
});
console.log(fonts);
*/


/* SANS SERIF 
 * ------------------------------------
 */

//Support: Mac: 98.74%, Windows: 99.84%
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

//Support: Mac: 96.22%, Windows: 98.08%
$arial-black: "Arial Black", "Arial Bold", Gadget, sans-serif;

//Support: Mac: 94.77%, Windows: 88.39%
$arial-narrow: "Arial Narrow", Arial, sans-serif;

//Support: Mac: 95.14%, Windows: 59.53%
$arial-rounded-mt-bold: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;

//Support: Mac: 1.08%, Windows: 0%
$avant-garde: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

//Support: Mac: 38.74%, Windows: 83.41%
$calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

//Support: Mac: 34.41%, Windows: 83.08%
$candara: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

//Support: Mac: 53.15%, Windows: 87.62%
$century-gothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

//Support: Mac: 2.10%, Windows: 99.18%
$franklin-gothic-medium: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

//Support: Mac: 94.41%, Windows: 1.26%
$futura: Futura, "Trebuchet MS", Arial, sans-serif;

//Support: Mac: 99.64%, Windows: 2.08%
$geneva: Geneva, Tahoma, Verdana, sans-serif;

//Support: Mac: 95.50%, Windows: 58.54%
$gill-sans: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

//Support: Mac: 100.00%, Windows: 7.34%
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

//Support: Mac: 95.14%, Windows: %
$impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;

//Support: Mac: 100.00%, Windows: 0.00%
$lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

//Support: Mac: 93.69%, Windows: 2.52%
$optima: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

//Support: Mac: 0.00%, Windows: 75.36%
$segoe-ui: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

//Support: Mac: 91.71%, Windows: 99.95%
$tahoma: Tahoma, Verdana, Segoe, sans-serif;

//Support: Mac: 97.12%, Windows: 99.67%
$trebuchet-ms: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

//Support: Mac: 99.10%, Windows: 99.84%
$verdana: Verdana, Geneva, sans-serif;

/* SERIF
 * ------------------------------------
 */

//Support: Mac: 93.33%, Windows: 60.35%
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

//Support: Mac: 92.61%, Windows: 0.00%
$big-caslon: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

//Support: Mac: 0.00%, Windows: 55.81%
$bodoni-mt: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

//Support: Mac: 49.01%, Windows: 86.09%
$book-antiqua: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

//Support: Mac: 46.31%, Windows: 58.43%
$calisto-mt: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;

//Support: Mac: 35.32%, Windows: 83.35%
$cambria: Cambria, Georgia, serif;

//Support: Mac: 93.51%, Windows: 0.00%
$didot: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

//Support: Mac: 49.91%, Windows: 86.47%
$garamond: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

//Support: Mac: 97.48%, Windows: 99.40%
$georgia: Georgia, Times, "Times New Roman", serif;

//Support: Mac: 47.57%, Windows: 58.11%
$goudy-old-style: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;

//Support: Mac: 92.61%, Windows: 0.99%
$hoefler-text: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;

//Support: Mac: 99.64%, Windows: 76.12%
$lucida-bright: "Lucida Bright", Georgia, serif;

//Support: Mac: 86.13%, Windows: 99.29%
$palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

//Support: Mac: 0.00%, Windows: 66.54%
$perpetua: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;

//Support: Mac: 0.00%, Windows: 65.94%
$rockwell: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

//Support: Mac: 0.00%, Windows: 66.10%
$rockwell-extra-bold: "Rockwell Extra Bold", "Rockwell Bold", monospace;

//Support: Mac: 97.48%, Windows: 99.67%
$times-new-roman: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;


/* MONOSPACED
 * ------------------------------------
 */

//Support: Mac: 94.59%, Windows: 4.16%
$andale-mono: "Andale Mono", AndaleMono, monospace;

//Support: Mac: 34.77%, Windows: 82.97%
$consolas: Consolas, monaco, monospace;

//Support: Mac: 95.68%, Windows: 99.73%
$courier-new: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

//Support: Mac: 0.00%, Windows: 99.18%
$lucida-console: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;

//Support: Mac: 99.64%, Windows: 74.81%
$lucida-sans-typewriter: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;

//Support: Mac: 99.82%, Windows: 2.74%
$monaco: Monaco, Consolas, "Lucida Console", monospace;


/* FANTASY
 * ------------------------------------
 */

//Support: Mac: 92.61%, Windows: 66.87%
$copperplate: Copperplate, "Copperplate Gothic Light", fantasy;

//Support: Mac: 92.43%, Windows: 70.37%
$papyrus: Papyrus, fantasy;


/* SCRIPT
 * ------------------------------------
 */

//Support: Mac: 90.99%, Windows: 59.64%
$brush-script-mt: "Brush Script MT", cursive;



