/**
 ********************************
 * _CODE.SCSS
 ********************************
 */

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Consolas, “Lucida Console”, monospace;
  font-size: get(font-size) - 2;
  color: getColor(g70);
  @include border-radius(3px);
}

/**
 * @module Inline Code [code]
 * @description Display inline code
 *
 * @markup
    <code>console.log('Hello World!');</code>
 */
code {
  padding: 2px 4px;
  color: darkblue;
  background-color: getColor(g5);
  @include border();
  white-space: nowrap;
}


/**
 * @module Code Block [pre]
 * @description Display a block of code
 *
 * @modifier [.pre__scrollable] Gives max height so that block is scrollable
 *
 * @markup
    <pre><code>
      var foo = "Hello";<br/>
      var bar = " World!";<br/>
      console.log(foo + bar);
    </code></pre>
 */
pre {
  display: block;
  padding: (get(spacing) / 4 - 1) / 2;
  font-size: get(font-size) - 1; // 14px to 13px
  line-height: get(line-height);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: getColor(g5);
  @include border();
  @include border-radius(get(border-radius));

  // Enable scrollable blocks of code
  &.pre__scrollable {
    max-height: 340px;
    overflow-y: scroll;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }
}
