/**
 ********************************
 * _CODE.SCSS
 ********************************
 */

/**
 * @settings $gemini-code
 * @description Set the default look of code and pre blocks
 *
 * @prop {color} [font-size=14px] Font size
 * @prop {color} [font-family=Monaco] Font family
 * @prop {color} [color=#333] Font color
 * @prop {color} [background-color=#EEE] Background color
 * @prop {color} [border-width=0] Border width
 * @prop {color} [border-color=#DDD] Border color
 * @prop {color} [border-radius=get(border-radius)] Border radius
 * @prop {color} [pre-line-height=1.5] Line height for pre
 */
$gemini-code: () !default;

$gemini-code: extend((
  font-size:        14px,
  font-family:      unquote("Monaco, Consolas, 'Lucida Console', monospace"),
  color:            #333,
  background-color: #EEE,
  border-width:     0,
  border-color:     #DDD,
  border-radius:    get(border-radius),
  pre-line-height:  1.5,
  pre-padding:      1em
), $gemini-code);

code,
pre {
  font-family: get(font-family, $gemini-code);
  font-size: get(font-size, $gemini-code);
  color: get(color, $gemini-code);
  background-color: get(background-color, $gemini-code);
  @if get(border-width, $gemini-code) > 0 {
    border: get(border-width, $gemini-code) solid get(border-width, $gemini-color);
  }
  @if get(border-radius, $gemini-code) > 0 {
  border-radius: get(border-radius, $gemini-code);
  }
}

/**
 * @module Inline Code [code]
 * @description Display inline code
 *
 * @markup
    <code>console.log('Hello World!');</code>
 */
code {
  white-space: nowrap;
}


/**
 * @module Code Block [pre]
 * @description Display a block of code
 *
 * @modifier [.pre__scrollable] Gives max height so that block is scrollable
 *
 * @markup
    <pre><code>
      var foo = "Hello";
      var bar = " World!";
      console.log(foo + bar);
    </code></pre>
 */
pre {
  display: block;
  padding: get(spacing);
  line-height: get(pre-line-height, $gemini-code);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;

  // Enable scrollable blocks of code
  &.pre--scrollable {
    max-height: 200px;
    overflow-y: scroll;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }
}
