/**
 ********************************
 * _FORMS.SCSS
 ********************************
 */

/**
 * @module Default Forms [form]
 * @description Default form layout
 *
 * @modifier [.form--inline] Make all elements inline
 *
 * @markup
    <form>
      <fieldset>
        <legend>Legend</legend>
        <label for="thing">Label name</label>
        <input id="thing" name="thing" class="text-input" type="text" placeholder="Type something...">
        <label class="checkbox">
          <input type="checkbox"> Check me out
        </label>
        <button type="submit" class="button">Submit</button>
      </fieldset>
    </form>
 */

.form--inline {
  .hN {
    display: inline-block;
    margin-bottom: 0;
  }
  fieldset {
    display: inline-block;
    margin-bottom: 0;
  }
}

/**
 * @module Label [label]
 * @description A tag for labelling form elements. Labels become inline when
 * they're after a checkbox.
 *
 * @state [is-required] Adds an asterisk
 *
 * @markup
    <div>
      <label>Foo</label>
      <input type="text" class="text-input">
    </div>
 */
label {
  display: block;

  &.is-required:before {
    content: "* ";
  }

  input[type="checkbox"] + & {
    display: inline-block;
    padding-left: get(spacing) / 2;
  }

  @include media(medium) {
    .form--inline & {
      display: inline-block;
    }
  }
}

/**
 * @submodule Additional Help [.label__additional]
 * @description Additional help for labels
 *
 * @markup
    <label>
      Email:
      <input type="text" class="text-input" placeholder="email@fake.com">
      <span class="label__additional">No spaces</span>
    </label>
 */
.label__additional {
  display: block;
  font-weight: normal;
}

/**
 * @module Radio/Checkbox intputs [.checkbox]
 * @description Basic checkbox and radio elements
 *
 * @markup
    <label class="checkbox">
        <input type="checkbox" /> Check it!
    </label>
 */
.radio,
.checkbox {
  //Inline
  .form--inline & {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  //Inline
  .form--inline & {
    float: left;
    margin-right: get(spacing) / 2;
    margin-left: 0;
  }
}

/**
 * Position radios and checkboxes better
 */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

/**
 * This fixes a bug in webkit where radio buttons get clipped 1px when the
 * container is overflow: hidden;
 * I've opened a ticket with Chromium
 * https://code.google.com/p/chromium/issues/detail?q=radio%20button%20overflow%20hidden&colspec=ID%20Pri%20M%20Iteration%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&id=396726&thanks=396726&ts=1406140510
 */
input[type="radio"] {
  margin-left: 1px;
}

/**
 * Reset width of input images, buttons, radios, checkboxes
 */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}


/**
 * Change the cursor
 */
label,
select,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

/**
 * Make select boxes look better
 */
select {
  vertical-align: middle;
  :focus {
    outline: none;
  }
}
