/**
 ********************************
 * _IMAGES.SCSS
 ********************************
 */

/**
 * @module Images [img]
 * @description We got some images o-er he-ya
 *
 * @modifier [.img--right] Place right
 * @modifier [.img--left] Place left
 * @modifier [.img--center] Place center
 *
 * @markup
    <img src="http://www.placetim.com/100/100" />
 */
img,
.img {
  max-width: 100%;
  font-style: italic; // So that 'alt' text is visually offset if images don't load.
  vertical-align: middle; // Remove space under images
}

/**
 * Non-fluid images if you specify 'width' and/or 'height' attributes.
 */
.gm-style img, // Remove Google Maps max-width
img[width],
img[height] {
  max-width: none;
}


/**
 * Image placement variations.
 */
.img--right {
  float: right;
  margin-bottom: get(spacing);
  margin-left: get(spacing);;
}
.img--left {
  float: left;
  margin-right: get(spacing);;
  margin-bottom: get(spacing);;
}
.img--center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: get(spacing);;
}

/**
 * @module Inline Image [.inline-img]
 * @description Display an image inline with the text (small images/ glyphs)
 *
 * @markup
    <div class="inline-img">&nbsp;</div>
 */
.inline-img {
  display: inline-block;
  background: transparent no-repeat center center;

  &:hover {
    text-decoration: none;
  }
}
