/**
 ********************************
 * _MAIN.SCSS
 ********************************
 */

/**
 * @module Main styling [html, body]
 * @description Just your basic styling on the document
 */
html {
  font: #{em(get(font-size), 16px)}/#{em(get(line-height), 16px) / em(get(font-size), 16px)} get(font-family);
  min-height: 100%;
}

body {
  position: relative;
  background: get(background-color);
  color: get(color);
  overflow-x: hidden; //Fixes issue with white box around content
}
