/**
 ********************************
 * _MAIN.SCSS
 ********************************
 */

/**
 * @module Main styling [html, body]
 * @description Just your basic styling on the document
 */
html {
  min-height: 100%;
  font-family: get(font-family);
  font-size: em(get(font-size), 16px);
  line-height: get(line-height);
}

body {
  position: relative;
  overflow-x: hidden; //Fixes issue with white box around content
  color: get(color);
  background: get(background-color);
}
