/**
 ********************************
 * _QUOTES.SCSS
 ********************************
 */

/**
 * @module Inline quotes [q]
 * @description Put some quotes in thur
 *
 * @markup
    <p>And with great audacity, he told them, <q>My name is derp!</q></p>
 */
q {
  quotes: "\2018" "\2019" "\201C" "\201D";

  &:before {
    content: "\2018";
    content: open-quote;
  }
  &:after {
    content: "\2019";
    content: close-quote;
  }

  q:before {
    content: "\201C";
    content: open-quote;
  }
  q:after {
    content: "\201D";
    content: close-quote;
  }
}

/**
 * @module Block quotes [blockquote]
 * @description Put some blocky quotes in thur
 *
 * @modifier [.blockquote--indent] Indent the quote
 *
 * @markup
    <blockquote class="blockquote--indent">
      <p>Insanity: doing the same thing over and over again and expecting different results.</p>
    </blockquote>
 */
blockquote {
  quotes: "\201C" "\201D";
  text-indent: -0.41em; //.4em is roughly equal to the width of the opening " that we wish to hang.

  p {
    font-size: get(font-size) * 1.25;
    line-height: 1.5;

    &:before {
      content: "\201C";
      content: open-quote;
    }

    &:after {
      content: "";
      content: no-close-quote;
    }

    &:last-of-type {
      margin-bottom: 0;
      &:after {
        content: "\201D";
        content: close-quote;
      }
    }
  }

  q:before {
    content: "\2018";
    content: open-quote;
  }
  q:after {
    content: "\2019";
    content: close-quote;
  }
}
.blockquote--indent {
  padding: 0 0 0 15px;
  border-left: 5px solid getColor(g15);
}

/**
 * @submodule Blockquote source [.blockquote__source]
 * @description The source of a quote
 *
 * @markup
    <blockquote>
        <p>Rats!!</p>
        <b class="blockquote__source">Tim</b>
    </blockquote>
 */
.blockquote__source {
  color: getColor(g25);
  display: block;
  text-indent: 0;

  &:before {
    content: "\2014";
  }
}
