/**
 ********************************
 * _RESET.SCSS
 ********************************
 */

/**
 * @module Reset
 * @description A more considered reset; more of a restart... csswizardry.com/2011/10/reset-restarted
 */
* {
  &,
  &:before,
  &:after {
    @include vendor(box-sizing, border-box);
  }
}

/**
 * Safari and Chrome default input[type="search"] to border-box, while
 * everything else is content-box. In order to normalize this, normalize.css
 * sets input[type="search"] back to content-box. Unfortunately, since we
 * actually want border-box, we need to overwrite normalize.css and set this
 * to border-box. Fun.
 *
 * https://github.com/necolas/normalize.css/blob/v2.1.3/normalize.css#L352-L363
 * https://github.com/necolas/normalize.css/issues/187#issuecomment-21511692
 */
input[type="search"] {
  @include vendor(box-sizing, border-box);
}

/**
 * The usual...
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on ':hover'.
 */
abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}

/**
 * Apply faux underline via 'border-bottom'.
 */
ins {
  border-bottom: 1px solid;
}
